.selecao-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: 'Segoe UI', Arial, sans-serif;
}

.selecao-label {
  font-weight: 600;
  font-size: 1rem;
}

.selecao-cards {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.selecao-card-servicos {
  padding: 12px 18px;
  border: 2px solid #2563eb;
  background-color: white;
  color: #2563eb;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.4s ease;
  font-weight: 500;
  font-size: 0.95rem;
  min-width: 140px;
  min-height: 60px;
  text-align: center;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.selecao-card-servicos:hover {
  background-image: var(--imagem-hover);
  color: white;
  border-color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.selecao-card-servicos.selecionado {
  background-color: #2563eb;
  color: white;
  border-color: #1d4ed8;
}

.selecao-resultado {
  margin-top: 8px;
  font-size: 0.95rem;
  color: #000000;
  font-weight: bold;
}

.selecao-resultado ul {
  margin: 4px 0 0 0;
  padding: 0 0 0 16px;
}
