.selecao-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: 'Segoe UI', Arial, sans-serif;
}

.carousel-section {
  width: 400px;
  height: 400px;
  padding: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 12px;
  position: relative;
  margin: 0 auto;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
  padding: 16px;
}

.selecao-label {
  font-weight: 600;
  font-size: 1rem;
}

.selecao-cards {
  display: grid;
  gap: 8px;
  flex-wrap: wrap;
  grid-template-columns: repeat(5, 1fr);
  gap: 8px;
}

.selecao-card-servicos {
  padding: 12px 18px;
  border: 2px solid #2563eb;
  background-color: white;
  color: #2563eb;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.4s ease;
  font-size: 0.95rem;
  font-weight: bold;
  min-width: 140px;
  min-height: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  position: relative;
}

.selecao-card-servicos:hover {
  background-image:
    var(--imagem-hover);
  background-image: linear-gradient(#00000059, #00000059), var(--imagem-hover);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  border-color: white;
  background-position: center;
  font-weight: bold;
}

.selecao-card-servicos.selecionado {
  background-image:
    linear-gradient(#00000059, #00000059),
    var(--imagem-hover);
  border-color: #1d4ed8;
  color: white;
}

.selecao-resultado strong {
  color: #1d4ed8;
}

.selecao-resultado ul {
  flex-wrap: wrap;
  flex-basis: 100%;
  gap: 3%;
  display: flex;
  padding: 0 0 0 16px;
  flex-direction: row;
}